
<button class="btn" (click)="modal=true; editMode=false">Add new</button>

<kendo-grid [data]="genreData">
    <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
    <kendo-grid-column field="genreName" title="Genre"> </kendo-grid-column>
    <kendo-grid-column title="Edit/Remove" >   
        <ng-template kendoGridCellTemplate let-dataItem >
        <input kendoGridEditCommand type="button" value="Edit" (click)="editGenre(dataItem)" />
        <input kendoGridRemoveCommand type="button" value="Remove"  class="btn-edit" (click)="deleteGenre(dataItem.id)"/>
      </ng-template> </kendo-grid-column>
</kendo-grid>

<app-add-genre-form  *ngIf="modal" (close)="modal = false"  ></app-add-genre-form>