<div class="backdrop"></div>

<div class="modal">
    <form [formGroup] = "addAuthorData" (ngSubmit)="SaveData(false)" >
        <nav class="navbar">
            <h1>{{ modalTitle }}</h1>
        </nav>
        <div class="inputDiv">
            <label for="authorName" class="author-name-lable">Author Name </label>
            <input id="authorName"  placeholder="Enter the new author" formControlName="authorName">
        </div>
   
        <fieldset [name]="genreData" class="checklist-genre" >
            <legend>Choose genre:</legend>

            <hr>
            {{editId}}
            <div *ngFor="let item of genreData; let i = index" >
                <input type="checkbox" [id]="item['id']" [value]="item['genreName']" 
                (change)="onCheckChange(item)" >
                <label for="item['id']" >{{item['genreName']}} {{item['id']}}</label>
              </div>
        
        </fieldset>
          
        <input type="submit" class="btn-add" value="Add">
        <button class="btn-add" (click)="close.emit()">Cancle</button>
    </form>
</div>  
