<div class="backdrop"></div>

<div class="modal">
    <form [formGroup] = "addBooksData" (ngSubmit)="SaveData($event,false)">
        <nav class="navbar">
            <h1>{{ modalTitle }}</h1>
        </nav>
        <div class="inputDiv">
            <label for="booksName" class="book-name-lable">Book Name </label>
            <input id="booksName"  placeholder="Enter the new Book Name" formControlName="booksName" required>
            <label for="booksDate" class="book-name-lable">Book Date </label>
            <input id="booksDate"  placeholder="Enter the new Book Date" formControlName="booksDate" required>
        </div>
        <!-- dropdowns -->
        <div class="container-fluid example-wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-4 example-col">
                    <p>Genre:</p>
                    <kendo-dropdownlist
                        [data]="genreList"
                        [defaultItem]="defaultItemGenres"
                        placeholder="Select genre..."
                        [textField]="'genreName'"
                        [valueField]="'genreId'"
                        (selectionChange)="handleGenreChange($event)"
                        required
                    >
                    </kendo-dropdownlist>
                </div>
                <div class="col-xs-12 col-sm-4 example-col">
                    <p>Author:</p>
                    <kendo-dropdownlist
                        [disabled]="isDisabledAuthors"
                        [data]="authorResultList"
                        [defaultItem]="defaultItemAuthors"
                        placeholder="Select author..."
                        [textField]="'authorName'"
                        [valueField]="'authorId'"
                        (selectionChange)="handleAuthorChange($event)"
                        required
                    >
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <!-- end dropdowns -->
        <input type="submit" class="btn-add" value="Add">
        <button class="btn-add" (click)="close.emit()">Cancle</button>
    </form>
</div>